@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Lato, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5.2rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1.4rem;
}
