@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .donate-btn {
    @apply text-main-white bg-main-blue hover:text-main-blue hover:bg-main-gray hover:shadow-shift-left-main hover:shadow-main-blue px-4 py-2 rounded-lg;
  }

  .btn-red {
    @apply transition text-main-black bg-main-red hover:text-main-white hover:bg-secondary-red hover:shadow-shift-left-main hover:shadow-main-red px-4 py-2 rounded-lg;
  }
}

:root {
  font-family: Lato, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5.2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1.4rem;
}
